# Core numerical and scientific libraries
numpy
scipy
pandas

# Visualization and plotting
matplotlib
scikit-image
PyOpenGL
vispy

# PyQt (for GUI)
PyQt5
PyQtWebEngine
qtpy
pyqtgraph
superqt

# Napari and related plugins
napari[all]
napari-console
napari-svg
magicgui
npe2

# TensorFlow (install GPU or CPU version as appropriate)
tensorflow
tensorflow-io-gcs-filesystem
tensorflow-estimator
tensorboard
tensorboard-data-server


# Dask for parallel processing
dask
toolz

# OpenCV
opencv

# Image I/O
imageio
tifffile
pillow

# Other dependencies
pydantic
requests
protobuf
pytz
packaging
traitlets
typing_extensions
decorator
pyserial
psutil
tqdm
cython
